{% extends 'blogsetup/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} <title>Crear post</title>{% endblock title %}

{% block contenido %}
<div class="container">
<div class="row">
    <div class="col-4-col-md-4 offset-md">
        <div class="card">
            <br>
            <div class="card-body">
                <h2> Agregar nuevo post</h2>
                <hr>

            <form action="" method="POST" enctype="multipart/form-data" style=" width: 100%; margin:auto;">
                {% csrf_token %}
                
                {{form | crispy }}
                <br>
                <div class="d-flex justify-content-md-end" >
                    <button type="reset" class="btn btn-outline-secondary btn-md">Cancelar</button>
                    &nbsp;
                    <button type="submit" class="btn btn-outline-success btn-md">Guardar</button>

                </div>
        
            </form>
            </div>
        </div>
    </div>
</div>
</div>
<br>

{% endblock contenido %}